<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Deportes</title>
</head>
<body>
    <h1>Lista de Deportes</h1>
    <ul>
        <% sports.forEach(sport => { %>
            <li>
                <strong>Nombre:</strong> <%= sport.name %><br>
                <strong>Descripción:</strong> <%= sport.description %><br>
                <strong>Historia:</strong> <%= sport.history %><br>
            </li>
        <% }); %>
    </ul>
</body>
</html>
